<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Files
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/files">My files</a>
                    <a class="dropdown-item" href="#">Shared files</a>
                    <a class="dropdown-item" routerLink="/files/add">New file</a>
                    <a *ngIf="admin" class="dropdown-item" routerLink="/admin/files">All files</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Folders
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/folders">My folders</a>
                    <a class="dropdown-item" routerLink="/folders/add">New folder</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/user/friend">Friends</a>
        </li>
        <li *ngIf="admin" class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Users
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/users/add">Add</a>
                    <a class="dropdown-item" routerLink="/users">View</a>
                </div>
            </div>
        </li>
        <li *ngIf="admin" class="nav-item">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/users/top10">Top 10</a>
                    <a class="dropdown-item" routerLink="/folders">Modifications</a>
                </div>
            </div>
        </li>
        <li *ngIf="admin" class="nav-item">
            <a class="nav-link" routerLink="/import">Import</a>
        </li>

    </ul>
    <button type="button" class="btn btn-danger" (click)="logOut()">Log out</button>
</nav>
<ngx-alerts></ngx-alerts>